body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

ul {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

ol {
    background-color: #d0d0d0;
    padding: 20px;
    border-radius: 5px;
}